<!doctype html>
<html>
  <head> 
    <meta charset="utf8"/>
    <link rel="icon" href="/images/favicon.png"/>              
    
    <!--libraries-->
    <script src="/libs/quickt/dev/quickt.js"></script>   
      
    <!--locale-->
    <script src="/locales/${Locale_Name}.js"></script>
    
    <!--template js, css-->
    <script src="/templates/simple.js"></script>
    <link rel="stylesheet" href="/templates/simple.css"/>     
    
    <!--front-end js, css-->
    <script src="/sections/header.js"></script>    
    <link rel="stylesheet" href="/sections/header.css"/>
    
    <script src="/sections/footer.js"></script>    
    <link rel="stylesheet" href="/sections/footer.css"/>
    
    <script src="/mains/home.js"></script>    
    <link rel="stylesheet" href="/mains/home.css"/>
    
    <script src="/mains/products.js"></script>    
    <link rel="stylesheet" href="/mains/products.css"/>
    
    <script src="/mains/cart.js"></script>    
    <link rel="stylesheet" href="/mains/cart.css"/>
    
    <script src="/mains/register.js"></script>    
    <link rel="stylesheet" href="/mains/register.css"/>
            
    <!--back-end js, css-->
    <script src="/mains/admin/home.js"></script>    
    <link rel="stylesheet" href="/mains/admin/home.css"/>
  </head>  
         
  <!--main content-->
  <body>
    <div id="Scroll-Outer">
      <div id="Scroll-Inner">    
        <section content-url="/sections/header.html">
        </section>     
        <main content-url="${Main_Section_Url}">
        </main>   
        <section content-url="/sections/footer.html">
        </section>
      </div>
    </div>
  </body>
</html>

<!--end of file-->